@{
	int User = 3;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Account</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<header class="bg-dark text-white py-3">
		<div class="container d-flex justify-content-between align-items-center">
			<div class="logos">
				<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomePage"><img src="../../Images/green_asia_banner-removebg-preview.png" alt="logo"></a>
			</div>

			@if (User == 1) //for admin
			{
				<nav class="menu">
					<ul class="list-unstyled mb-0">
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="GenerateBOM">Generate BOM</a></li>
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="BillOfMaterials">Bill of Materials</a></li>
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="MaterialCostEstimate">Material Cost Estimate</a></li>
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Account">Account</a></li>
					</ul>
				</nav>

			}
			else if (User == 2) // for partner/vendor
			{
				<nav class="menu">
					<ul class="list-unstyled mb-0">
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="GenerateBOM">Generate BOM</a></li>
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="BillOfMaterials">Bill of Materials</a></li>
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="MaterialCostEstimate">Material Cost Estimate</a></li>
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Account">Account</a></li>
					</ul>
				</nav>
			}
			else //for employees
			{
				<nav class="menu">
					<ul class="list-unstyled mb-0">
						<li><a class="nav-link" asp-area="" asp-controller="BOM" asp-action="Index">Generate BOM</a></li>
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="BillOfMaterials">Bill of Materials</a></li>
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="MaterialCostEstimate">Material Cost Estimate</a></li>
						<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Account">Account</a></li>
					</ul>
				</nav>
			}


		</div>
	</header>




	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

</body>


</html>
