@{
    Layout = null;
}

@model SupplierInfoModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> Account </title>
    <link rel="icon" type="images/png" img src="../../Images/greenAsiaLogo.png" alt="logo" />

    <link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
					<a class="logo" asp-area="" asp-controller="Employee" asp-action="employeeDashboard">
                        <img src="../../Images/greenAsiaLogo.png" alt="logo">
                        <span class="nav-item">GACTC</span>
                    </a>
                </li>
                <li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeDashboard">
                        <i class="fas fa-menorah"></i>
                        <span class="nav-item">Dashboard</span>
                    </a>
                </li>
                <li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeProjectDash">
                        <i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Projects</span>
                    </a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Templates">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Templates</span>
					</a>
				</li>
                <li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeSupplierDash">
                        <i class="fas fa-briefcase"></i>
                        <span class="nav-item">Suppliers</span>
                    </a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeMaterialsDash">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Materials</span>
					</a>
				</li>
				<li class="active">
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeInfo">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Account</span>
					</a>
				</li>
                <li>
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="HomePage">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>

        <section class="main">

            <section class="attendance">
                <div class="attendance-list">
                    <h1>Account Info</h1>
					<table style="width:100%">
						<tr>
							<td>
								<div style="width:50%">
									<h4>Username</h4>
									<p style="text-indent:20pt;">@Model.Username</p>
								</div>
							</td>
							<td>
								<div style="width:50%">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<h4>First Name</h4>
									<p style="text-indent:20pt;">@Model.Description</p>
								</div>
							</td>
							<td>
								<div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<h4>Contact Name</h4>
									<p style="text-indent:20pt;">@Model.ContactName</p>
								</div>
							</td>
							<td>
								<div>
									<h4>Contact Number</h4>
									<p style="text-indent:20pt;">@Model.ContactNumber</p>
								</div>
							</td>
						</tr>
					</table>
					<a class ="nav-link" asp-area="" asp-controller="Supplier" asp-action="supplierInfoEdit">
						<div>
							<p>Edit</p>
						</div>
					</a>
                </div>
            </section>
        </section>
    </div>
</body>
</html>
