@{
    Layout = null;
}

@model SupplierInfoModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> Account </title>
    <link rel="icon" type="images/png" img src="../../Images/greenAsiaLogo.png" alt="logo" />

    <link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
	<div class="container">
		<nav>
			<ul>
				<li>
					<a class="logo" asp-area="" asp-controller="Supplier" asp-action="supplierDashboard">
						<img src="../../Images/greenAsiaLogo.png" alt="logo">
						<span class="nav-item">GACTC</span>
					</a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Supplier" asp-action="supplierDashboard">
						<i class="fas fa-menorah"></i>
						<span class="nav-item">Dashboard</span>
					</a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Supplier" asp-action="supplierMaterialsDash">
						<i class="fas fa-boxes-stacked"></i>
						<span class="nav-item">Prices</span>
					</a>
				</li>
				<li class="active">
					<a class="nav-link" asp-area="" asp-controller="Supplier" asp-action="supplierInfo">
						<i class="fas fa-address-card"></i>
						<span class="nav-item">Account</span>
					</a>
				</li>
				<li class="logout">
					<a asp-action="HomePage" asp-controller="Home">
						<i class="fas fa-sign-out-alt"></i>
						<span class="nav-item">Logout</span>
					</a>
				</li>
			</ul>
		</nav>


        <section class="main">

            <section class="attendance">
                <div class="attendance-list">
                    <h1>Account Info</h1>
					<table style="width:100%">
						<tr>
							<td>
								<div style="width:50%">
									<h4>Username</h4>
									<p style="text-indent:20pt;">@Model.Username</p>
								</div>
							</td>
							<td>
								<div style="width:50%">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<h4>First Name</h4>
									<p style="text-indent:20pt;">@Model.Description</p>
								</div>
							</td>
							<td>
								<div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<h4>Contact Name</h4>
									<p style="text-indent:20pt;">@Model.ContactName</p>
								</div>
							</td>
							<td>
								<div>
									<h4>Contact Number</h4>
									<p style="text-indent:20pt;">@Model.ContactNumber</p>
								</div>
							</td>
						</tr>
					</table>
					<a class ="nav-link" asp-area="" asp-controller="Supplier" asp-action="supplierInfoEdit">
						<div>
							<p>Edit</p>
						</div>
					</a>
                </div>
            </section>
        </section>
    </div>
</body>
</html>
