@{
    Layout = null;
}

<html>
<head>
    <title>Create BOM</title>
    <link rel="stylesheet" href="~/css/newContractorTemplate.css" asp-append-version="true" />
    <link rel="icon" type="images/png" img src="../../Images/greenAsiaLogo.png" alt="logo" />
</head>
<body>
    <div class="main">
        <div class="nav-bar">
            <div class="header--title">
                <img src="../../Images/green_asia_banner-removebg-preview.png" alt="logo" />
            </div>
        </div>
        <!--content goes here-->
        <p>sdgdfh</p>
        <p>sdgdfh</p>
        <p>sdgdfh</p>
        <p>sdgdfh</p>
        <p>sdgdfh</p>
        <p>sdgdfh</p>
    </div>
</body>
</html>
