<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<main>
    <h3>Edit Employee</h3>

    <div>
        <label>Full name:</label><br>
        <input type="text" placeholder="Full name" class="FullName" /><br>
    </div><br>
    <main class="inputGrid">

        <div>
            <label>Employee code:</label><br>
            <input type="text" class="inputs" placeholder="Employee code" /><br>
        </div>

        <div>
            <label>Access level:</label><br>
            <input type="text" class="inputs" placeholder="Access level" /><br>
        </div>

        <div>
            <label>Username:</label><br>
            <input type="text" class="inputs" placeholder="Username" /><br>
        </div>

        <div>
            <label>Password:</label><br>
            <input type="text" class="inputs" placeholder="Password" /><br>
        </div>

        <div>
            <label>Birthday:</label><br>
            <input type="date" id="birthday" class="inputs" name="birthday"><br>
        </div>

        <div>
            <label>Gender:</label><br>
            <select id="gender" class="inputs" placeholder="Gender">
                <option value="a">Male</option>
                <option value="b">Female</option>
                <option value="c">Other</option>
            </select><br>
        </div>

        <div>
            <label for="email">Email:</label><br>
            <input type="email" class="inputs" id="email" name="email"><br>
        </div>

        <div>
            <label for="myfile">Insert Image:</label><br>
            <input type="file" class="inputs" id="myfile" name="myfile"><br>
        </div>

    </main><br>

    <button class="button button1">Discard Changes</button>
    <button class="button button2">Apply Changes</button>

</main>